<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav">
      <div>         
        <a href="/index"><h5 class="display hug">Eric&nbsp;Moe</h5></a>
        </div>

      <div class="nav-link">
        <div class="page-link"><a href="/index">PORTFOLIO</a></div>
        <div class="page-link"><a href="/blog/">BLOG</a></div>
        <div class="page-link"><a href="/about/">ABOUT</a></div>
        <div class="page-link"><a href="/resume/">RESUME</a></div>
      </div>
    </nav>

  </div>

</header>
