<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Tab Title -->
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <!-- Social Image -->
    {% if page.img %}<meta property="og:image" content="{{ site.url }}{{ page.img }}">
    {% else %}<meta property="og:image" content="{{ site.url }}{{ site.prof_pic }}">{% endif %}
    
    <!-- Twitter Cards -->
    {% if site.twitter %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="og:image">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="twitter:creator" content="@{{ site.username.twitter }}">{% endif %}
    
    <!-- Looking for CSS, Font Awesome, Google Fonts, or Google analytics? Head on over to footer.html -->
    
</head>
