<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav">
      <div>         
        <a class="" href="/index.html/"><h5 class="display">Eric&nbsp;Moe</h5></a>
        </div>

      <div class="nav-link">
        <div class="page-link"><a href="/index.html/">PORTFOLIO</a></div>
        <div><a class="page-link" href="/blog/">BLOG</a></div>
        <div><a class="page-link" href="/about/">ABOUT</a></div>
        <div><a class="page-link" href="/resume/">RESUME</a></div>
      </div>
    </nav>

  </div>

</header>
