/**
 * _base.scss   **********************************************************
 */

/** Variables **********************************************/

/* Typography from https://github.com/devinhunt/typebase.css/blob/master/src/typebase.scss*/

/* Family */
$baseFontFamily:    Work Sans, Helvetica, sans-serif;
$displayFontFamily:    clarendon-urw, Georgia;

/* Scale and Spacing */
$baseFontSize:      16; // in pixels. This would result in 22px on desktop
$baseLineHeight:    1.45; // how large the line height is as a multiple of font size
$leading:$baseLineHeight * 1rem;
// Rate of growth for headings
// I actually like this to be slightly smaller then the leading. Makes for tight headings.
$scale:1.414;
// number of characters you want the line to be.
$measure: 84;
$small-font-size:  $baseFontSize * 0.875;

/* portfolio tinkering */
$img_spacing:  0.3125rem; 
$img_height: 17.19rem;
$caption_font_size: $scale / 2 * 1rem;

/* COLORS  */
$red:  #FF3636;
$orange: #F29105;
$blue: #2698BA;
$green: #11D68B;
$lime_green: #B7D12A;
$purple: #B509AC;
$navy: #3E69AA;
$off_white: #f5f6f6;
$text_color: #666;

$moe: #4967AA;

$grey-color:       #828282;
$grey-color-dark: #333;   /* footer */
$grey-color-light: #ddd;  /* navigation bar border */
$text-color:     #666;
$background-color: #fdfdfd;
$caption_color: #aaa;

/* Set theme color *************************/
$theme-color:   $moe;
$brand-color:   $moe;

/**
 * Wrapper
 */ 

.wrapper {
    flex: 1;
    width: $measure * .5rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: $leading;
    padding-left: $leading;


    @media screen and (max-width: $measure * .5rem + 3rem) {
        width: auto;
        padding-right: $leading; 
        padding-left: $leading;
        margin-right: 0; 
        margin-left: 0;
    }
}
