<!DOCTYPE html>
<html>
  <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Moe Grid</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link rel="stylesheet" href="2018-02-07-moegrid-16px-02.css">
  <style type="text/css">
  </style>
  </head>
  <body>
  <header class="site-header"></header>
  <main>
    <section>
      <header class="post-header">
        <h1>Sample Project</h1>
          
        <h4>Problem Statement—66 Characters—Praesent venenatis libero tol. Project Role—66 Characters—Aenean varius urna auctor, aliquetors. Elevator Pitch Resolution—66 Characters—Nunc id dui cursus, effic.</h4>
      </header>
      <figure>
        <div class="box-2 image"></div>
        <figcaption>Figure Caption—Phasellus a risus ut nisl cursus dignissim in sed enim maecenas in.</figcaption>
        <div class="box-2 image"></div>
        <figcaption>Figure Caption—Phasellus a risus ut nisl cursus dignissim in sed enim. Maecenas in mi vel elit bibendum sagittis sit amet id turpis. Mauris egestas nisl nec enim malesuada posuere. Mauris vel odio molestie, facilisis libero ac, sollicitudin tellus.</figcaption>
        <div class="box-2 image"></div>
        <figcaption>Figure Caption—Phasellus a risus ut nisl cursus dignissim in sed enim. Maecenas in mi vel elit bibendum sagittis sit amet id turpis. Mauris egestas nisl nec enim malesuada posuere. Mauris vel odio molestie, facilisis libero ac, sollicitudin tellus.</figcaption>
        <div class="box-2 image"></div>
        <figcaption>Figure Caption—Phasellus a risus ut nisl cursus dignissim in sed enim. Maecenas in mi vel elit bibendum sagittis sit amet id turpis. Mauris egestas nisl nec enim malesuada posuere. Mauris vel odio molestie, facilisis libero ac, sollicitudin tellus.</figcaption>
        <div class="box-2 image"></div>
        <div class="box-2 image"></div>
      </figure>

      <article>
        <h2>Heading 2</h2>
        <p><span class="sc">Maecenas in sem</span> in turpis iaculis malesuada. Nullam finibus dignissim · Curabitur sed varius dolor. Nunc aliquam velit ut ante hendrerit vestibulum. Duis in auctor ipsum. Suspendisse tristique volutpat dolor sed sagittis. Praesent lacinia mauris sed porttitor dictum. Praesent ac pharetra eros.Ut laoreet purus sit amet auctor lobortis. Ut tempor diam vel mi varius sollicitudin.Quisque eleifend nisl sed varius facilisis. Mauris porta lorem at felis sagittis faucibus.Sed vel libero eleifend, molestie quam non, ornare quam. Sed ut lectus id erat varius tempus. Aenean blandit ligula eu velit efficitur, id dapibus diam elementum. Etiam bibendum tellus sit amet justo molestie pharetra. Curabitur tristique nunc quis volutpat auctor. Ut vitae enim congue, consequat dui a, euismod ipsum.</p>

        <h3>Heading 3</h3>
        <p>Sed nec sem purus. Vestibulum convallis eleifend interdum. Suspendisse scelerisque, arcu nec consequat lobortis, libero neque pretium massa, in accumsan metus est ut elit. Aenean blandit auctor ante a viverra. Cras et ex mattis, imperdiet lorem sollicitudin, euismod dolor. Cras laoreet eros erat, ac vulputate lectus tempor mollis. Ut et lobortis dolor. Nulla vehicula est libero, nec finibus elit porttitor quis. Nunc dictum mi eu velit scelerisque placerat. Donec erat erat, consequat ac lacus a, tempor mollis purus. Nam nunc leo, rutrum id dapibus accumsan, bibendum quis lacus. Sed porta lorem ut pellentesque fringilla. Suspendisse semper velit sed libero congue, et maximus diam vestibulum. Integer consequat dui nisl, non luctus orci ultricies placerat. Pellentesque ac nibh in turpis lobortis rhoncus. Pellentesque quis faucibus leo.</p>
        <h6>Display 1</h6>
        <h1>Title</h1>
        <h2>Header 2</h2>
        <h3>Header 3</h3>
        <h4>Lede Paragraph</h4>
        <h5>Small Text</h5>

        <p>A paragraph (from the Greek paragraphos, “to write beside” or “written beside”) is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>

              <blockquote>
                <p>A block quotation (also known as a long quotation or extract) is a quotation in a written document, that is set off from the main text as a paragraph, or block of text.</p>
                <p>It is typically distinguished visually using indentation and a different typeface or smaller size quotation. It may or may not include a citation, usually placed at the bottom.</p>
                <cite><a href="#!">Said no one, ever.</a></cite>
              </blockquote>
              <h3>Ligatures</h3>
              <h1>fi fj fl ffi gg gy</h1> 

              <h3>Definition list</h3>
              <dl>
                <dt>Definition List Title</dt>
                <dd>This is a definition list division.</dd>
              </dl>
              <h3>Ordered List</h3>
              <ol>
                <li>List Item 1</li>
                <li>List Item 2</li>
                <li>List Item 3</li>
              </ol>
              <h3>Unordered List</h3>
              <ul>
                <li>List Item 1</li>
                <li>List Item 2</li>
                <li>List Item 3</li>
              </ul>
            <h2>Horizontal rules</h2>
            <div>
              <hr>
            </div>
            <table>
              <caption>Table Caption</caption>
              <thead>
                <tr>
                  <th>Table Heading 1</th>
                  <th>Table Heading 2</th>
                  <th>Table Heading 3</th>
                  <th>Table Heading 4</th>
                  <th>Table Heading 5</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Table Footer 1</th>
                  <th>Table Footer 2</th>
                  <th>Table Footer 3</th>
                  <th>Table Footer 4</th>
                  <th>Table Footer 5</th>
                </tr>
              </tfoot>
              <tbody>
                <tr>
                  <td>Table Cell 1</td>
                  <td>Table Cell 2</td>
                  <td>Table Cell 3</td>
                  <td>Table Cell 4</td>
                  <td>Table Cell 5</td>
                </tr>
                <tr>
                  <td>Table Cell 1</td>
                  <td>Table Cell 2</td>
                  <td>Table Cell 3</td>
                  <td>Table Cell 4</td>
                  <td>Table Cell 5</td>
                </tr>
                <tr>
                  <td>Table Cell 1</td>
                  <td>Table Cell 2</td>
                  <td>Table Cell 3</td>
                  <td>Table Cell 4</td>
                  <td>Table Cell 5</td>
                </tr>
                <tr>
                  <td>Table Cell 1</td>
                  <td>Table Cell 2</td>
                  <td>Table Cell 3</td>
                  <td>Table Cell 4</td>
                  <td>Table Cell 5</td>
                </tr>
              </tbody>
            </table>
              <p><strong>Keyboard input:</strong> <kbd>Cmd</kbd></p>
              <p><strong>Inline code:</strong> <code>&lt;div&gt;code&lt;/div&gt;</code></p>
              <p><strong>Sample output:</strong> <samp>This is sample output from a computer program.</samp></p>
              <h2>Pre-formatted text</h2>
              <pre>P R E F O R M A T T E D T E X T
  ! " # $ % &amp; ' ( ) * + , - . /
  0 1 2 3 4 5 6 7 8 9 : ; &lt; = &gt; ?
  @ A B C D E F G H I J K L M N O
  P Q R S T U V W X Y Z [ \ ] ^ _
  ` a b c d e f g h i j k l m n o
  p q r s t u v w x y z { | } ~ </pre>

              <p><a href="#!">This is a text link</a>.</p>
              <p><strong>Strong is used to indicate strong importance.</strong></p>
              <p><em>This text has added emphasis.</em></p>
              <p>The <b>b element</b> is stylistically different text from normal text, without any special importance.</p>
              <p>The <i>i element</i> is text that is offset from the normal text.</p>
              <p>The <u>u element</u> is text with an unarticulated, though explicitly rendered, non-textual annotation.</p>
              <p><del>This text is deleted</del> and <ins>This text is inserted</ins>.</p>
              <p><s>This text has a strikethrough</s>.</p>
              <p>Superscript<sup>®</sup>.</p>
              <p>Subscript for things like H<sub>2</sub>O.</p>
              <p><small>This small text is small for for fine print, etc.</small></p>
              <p>Abbreviation: <abbr title="HyperText Markup Language">HTML</abbr></p>
              <p><q cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q">This text is a short inline quotation.</q></p>
              <p><cite>This is a citation.</cite></p>
              <p>The <dfn>dfn element</dfn> indicates a definition.</p>
              <p>The <mark>mark element</mark> indicates a highlight.</p>
              <p>The <var>variable element</var>, such as <var>x</var> = <var>y</var>.</p>
              <p>The time element: <time datetime="2013-04-06T12:32+00:00">2 weeks ago</time></p>
      </article>
    </section>
    <div class="pagination"></div>
    <footer></footer>
  </main>
</body>
</html>
