---
layout: default
---
<header class="site-header">
  <div>
    <h3>
      <a class="active" href="/index">work&emsp;</a>
      <a href="/blog/">blog&emsp;</a>
      <a href="/about/">about&emsp;</a>
      <a href="/resume/">resume</a>
    </h3>
    <h6>Eric Moe</h6>
  </div>
</header>

<section>
  <header class="post-header">

    <div class="post-title">
      <h1>{{ page.title }}</h1>
    </div>

    <div class="post-summary">
      <div class="post-rule"></div>
      <h3>problem</h3> 
        <h4>{{ page.problem }}</h4>
    </div> 

    <div class="post-summary">
      <div class="post-rule"></div>
      <h3>solution</h3> 
        <h4>{{ page.description }}</h4>
    </div> 

    <div class="post-summary">
      <div class="post-rule"></div>
      <h3>role</h3> 
          <h4>{{ page.role }}&mdash;{{ page.date | date: "%-d %B %Y"}}</h4>
    </div> 

  </header>

  <figure>
    {% for image in page.figure %}
    {% picture {{ image.image }} alt="{{ page.title }}" %}
        {% if image.caption %}
          <figcaption>
            {{ image.caption }}
          </figcaption>
        {% endif %}
    {% endfor %}
  </figure>

  <article>
  {{ content }}
  </article>

</section>

<div class="share">
</div>
